@import '/css/global.css';
@import '/css/header.css';
@import '/css/introducao.css';
@import '/css/experiencia.css';
@import '/css/formacao.css';
@import '/css/footer.css';


@font-face {
    font-family: 'Fira Sans-Bold' ;
    src: url(/font/Fira_Sans/FiraSans-Bold.ttf);
}
@font-face {
    font-family: 'Fira Sans-Regular';
    src: url(/font/Fira_Sans/FiraSans-Regular.ttf);
}